.content-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.instrucciones-container{
    max-width: 80%;
}
.instrucciones{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    padding: 1em;
}
.texto-container{
    width: 80%;
    height: 100%;
    text-align: justify;
}
.texto-negro{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    padding: 1em;
}
