.content-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: lightgreen;
    
}
.instrucciones-container{
    max-width: 70%;
    max-height: 10%;
    background:red;

}
.instrucciones{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
}
.texto-container{
    width: 70%;
    height: 100%;
    background: grey;
    text-align: justify;
}
.texto-negro{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}
.texto-rojo{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    color:red;
}
