@font-face {
    font-family: 'garamond-light'; /*a name to be used later*/
    src: local('./src/assets/fonts/GARA.ttf')format("ttf"); /*URL to font*/
}

@font-face {
    font-family: 'garamond-bold'; /*a name to be used later*/
    src: local('.src/assets/fonts/GARABD.ttf'); /*URL to font*/
}
.content-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.instrucciones-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instrucciones{
    font-size: x-large;
    text-align: justify;
    width: 100%;
    padding-left: 2em;
}
.texto-container{
    width: 80%;
    height: 100%;
    text-align: justify;
}
.texto-negro{
    font-family: 'garamond-bold';
    font-size: x-large;
    padding: 1em;
}
